version: '3.7'
services:
  motioneye:
    image: ccrisan/motioneye:{{ motioneye_docker_version }}
    container_name: motioneye
    hostname: motioneye
{% if motioneye_container_labels %}
    labels:
{% for label in motioneye_container_labels %}
      - {{ label }}
{% endfor %}
    restart: always
    expose:
      - "8765"
    ports: {% if not _motioneye_docker_published_ports %}[]
{% endif %}
{% for port in _motioneye_docker_published_ports %}
      - {{ port }}
{% endfor %}
{% if motioneye_network_name %}
    networks:
      - {{ motioneye_network_name }}
{% endif %}
    volumes:
{% for vol in _motioneye_docker_volumes %}
      - {{ vol }}
{% endfor %}
    environment:
{% for k, v in motioneye_environment_variables.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% if motioneye_network_name %}
networks:
  {{ motioneye_network_name }}:
    external: true
{% endif %}
